<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>E-Sale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D245B8E41E9C7A0200C066CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D245B8FD1E9C7A0300C066CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D245B9081E9C7A0300C066CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
